extends include/layout
block content

    header
        h1 Welcome to <span class="nom-projet">Voteer</span>
        p.lead Voteer has many uses ! It can help you reach a compromise within a group, or allow a development team to settle important working agreements. But it's not all about work ! Can't decide what to see tonight ? Go with Voteer !

    hr
    div(ng-app='pages.accueil')
        .jumbotron
            h3 Create a poll
            form(ng-submit='creeSondage()', ng-controller='AccueilControleur')
                .control-group
                    .controls
                        input(type='text', ng-model='poll.name', placeholder="Poll name")
                        span.help-inline
                button.btn.btn-primary.btn-lg(type='submit', loading="Create...", ng-disabled="creation")
                    | Create
block js
    != renderJs("accueil")