extends include/layout
block content
    .jumbotron(ng-app="pages.resultat", ng-controller="ResultatControleur")
        .container
            h1 And the winner is
                span.label.label-success(ng-bind="premier.label")
            p
                h2 Ranking
                ol
                    li(ng-repeat="proposition in classement", ng-bind="proposition.label")
    a(href="/polls/#{pollId}") Return to the poll

block js
    != nap.js("resultat")