include include/header-sondage
extends include/layout
block content
    div(ng-app="pages.resultat", ng-controller="ResultatControleur")
        mixin headerSondage(true, false)
        .jumbotron
            h1.text-center(ng-if="!egalite(premier)", ng-cloak) And the winner is
            h1.text-center(ng-if="egalite(premier)", ng-cloak) It's a tie !

            h2.text-center
                span.label.label-success(ng-if="!egalite(premier)", ng-bind="labelUnique(premier)")
                p(ng-if="egalite(premier)")
                    span(ng-repeat="proposition in premier.propositions")
                        span.label.label-info(ng-bind="proposition.label")
            p
                h3 Ranking
                ol
                    li(ng-repeat="resultat in classement")
                        span(ng-if="!egalite(resultat)", ng-bind="labelUnique(resultat)")
                        p(ng-if="egalite(resultat)")
                            span(ng-repeat="proposition in resultat.propositions")
                                span(ng-bind="proposition.label")
                                span(ng-if="!$last") &nbsp;==&nbsp;
                a.btn.btn-default(href="/polls/#{pollId}") Return to the poll

block js
    != nap.js("resultat")
    script(type="text/javascript").
        var switchTo5x=true;

    script(type="text/javascript", src="http://w.sharethis.com/button/buttons.js")

    script(type="text/javascript").
        stLight.options({publisher: "666009eb-0a92-4a94-a03d-abeabcba8f41", doNotHash: false, doNotCopy: false, hashAddressBar: false});