include include/header-sondage
extends include/layout
block content
    div(ng-app='pages.sondage', ng-controller="SondageControleur")
        mixin headerSondage()
        .reseaux-sociaux
            a.twitter-share-button(href="http://twitter.com/share", data-count="horizontal", data-lang="fr") tweet
            | <g:plusone size="medium"></g:plusone>

        ul.nav.nav-tabs
            li.active
                a(href="#participate", data-toggle="tab") Participate
            li(ng-show="afficheVote()")
                a(href="#votes", data-toggle="tab") Existing votes
            li(ng-show="sondage.withComments")
                a(href="#comments", data-toggle="tab") Comments
        .tab-content
            .tab-pane.active#participate(ng-controller="VoteControleur")
                div(loader="propositionsChargees")
                h3 Participate :
                .alert.alert-warning(ng-show="!votePossible()", ng-cloak)
                    | No proposals for this poll yet
                form(ng-submit="valideVote()", ng-show="votePossible()")
                    .form-group
                        label(for="nom") Your name or nickname
                        input.form-control(type="text", placeholder="Enter name or nickname", ng-model="vote.name")


                    label Proceed with your vote !
                    .row(ng-cloak)
                        .col-md-8.col-md-offset-3
                            .row.participation
                                .col-md-4
                                    label
                                        span.label.label-primary 1
                                        | &nbsp;Pick proposals
                                    ul.list-group
                                        li.list-group-item(ng-repeat="proposition in propositions")
                                            h5.list-group-item-heading.text-info
                                                strong {{proposition.label}}
                                            p.list-group-item-text
                                                button.btn.btn-info(ng-click="votePour(proposition)", type="button")
                                                    | Select
                                                    span.glyphicon.glyphicon-chevron-right


                                .col-md-5
                                    label
                                        span.label.label-primary 2
                                        | &nbsp;Order them
                                    ul.list-group
                                        li.list-group-item(ng-repeat="proposition in vote.proposals")
                                            h5.list-group-item-heading.text-success
                                                strong {{proposition.label}}
                                            p.list-group-item-text
                                                .btn-group
                                                    button.btn.btn-info(type="button", ng-click="annuleVotePour(proposition)")
                                                        span.glyphicon.glyphicon-chevron-left
                                                        | Unselect
                                                    button.btn.btn-default(type="button", ng-if="!$first", ng-click="monte(proposition)")
                                                        span.glyphicon.glyphicon-chevron-up
                                                    button.btn.btn-default(type="button", ng-if="!$last", ng-click="descend(proposition)")
                                                        span.glyphicon.glyphicon-chevron-down
                    .action
                        button(type="submit", loading="Vote...", ng-disabled="creation").btn.btn-primary.btn-lg Vote !
            .tab-pane#votes(ng-show="afficheVote()", ng-controller="VotesSondageControleur")
                span(ng-show="votes.length == 0") No vote yet
                table.table(ng-show="votes.length > 0")
                    thead
                        tr
                            th Participant
                            th Vote
                    tbody
                        tr(ng-repeat="vote in votes")
                            td(ng-bind="vote.participant || 'Anonymous'")
                            td
                                span(ng-repeat="choix in vote.choices")
                                    | {{choix}}
                                    span(ng-if="!$last"), 

            .tab-pane#comments
                div(ng-if="sondage.withComments", disqus)

block js
    != nap.js("sondage")
    script(type="text/javascript", src="//platform.twitter.com/widgets.js")
    script(type="text/javascript", src="//apis.google.com/js/plusone.js")