extends include/layout
block content
    .page-header
        h1 Thank you for your vote !

    .well
        p Now you can either :
        ul
            li
                a(href="/polls/#{pollId}") Return to the poll
            li
                a(href="/polls/#{pollId}/result") See vote result