body
  padding-bottom: 40px

[ng\:cloak]
[ng-cloak]
[data-ng-cloak] c
[x-ng-cloak]
.ng-cloak
.x-ng-cloak
  display: none !important;

.navbar-brand
  padding 0 15px

// page d'accueil

.accueil .container
  header
    text-align center
    margin-bottom 72px
    position relative

    img
      display: inline

    p
      font-size 20px
      line-height 36px
      margin-left 5%
      margin-right 5%
      font-weight 300
      margin-bottom 18px

  button
    margin-top 15px

  .jumbotron
    text-align center
    padding 45px

    h3
      font-size 30px
      line-height 36px
      margin-left 5%
      margin-right 5%
      margin-bottom 18px

// commun aux pages de sondage

.entete-sondage
  margin-top 20px
  text-align center
  margin-bottom 30px
  position relative
  h1
    font-size 35px
    letter-spacing - 1px
    line-height 1
    margin-bottom 5px
  h2
    margin-top 5px
  .label
    font-size 15px

#disqus_thread
  margin-top 15px

#community-tab
  display none !important

#popup-envoi-mail
form
  margin 0

// page de vote

.sondage
  #participate
    margin-top 10px

    h3
      margin-top: 10px;
      margin-bottom: 20px;

  .participation
  .action
    text-align center

  h5.list-group-item-heading
    word-wrap break-word

.admin

  .panel-body
    position relative
    &.toggle
      .row
        margin-bottom 10px

.admin
.sondage
  header
    position relative
  .tab-pane
    position relative

// page de résultats

.resultat
  .jumbotron
    h1
    h2
      .label
        margin: 0 3px
        display: inline-block

.reseaux-sociaux
  padding-top 10px

.choix
  padding-right: 5px
  display: inline-block

.loading
  position absolute
  top 0
  left 0
  opacity 0.8
  background-color grey
  width 100%
  height 100%
  z-index 1000
  text-align center
  padding-top 1%
  h3
    margin 0
