mixin headerSondage(avecReseauxSociaux)

    header.entete-sondage.page-header.ng-cloak
        div(loader="sondageCharge")
        h1(ng-bind='sondage.name')
        p
            span.glyphicon.glyphicon-time
            | &nbsp;{{sondage.creationDate|date:'medium'}}
        p
            a(href="/polls/{{sondage.id}}/result") See poll result
        if avecReseauxSociaux
            .reseaux-sociaux
                span.st_googleplus(displayText='Google +')
                span.st_facebook(displayText='Facebook')
                span.st_buffer(displayText='Buffer')
                span.st_twitter(displayText='Tweet')
                span.st_linkedin(displayText='LinkedIn')
                span.st_pinterest(displayText='Pinterest')
                span.st_yammer(displayText='Yammer')
                span.st_email(displayText='Email')
